@charset "utf-8";
/* CSS Document */
.resaltar{
	box-shadow:1px 1px 10px #666;
	transition:.25s;
}
.resaltar:hover{
	box-shadow:5px 5px 30px #666;
	transition:.150s;
}






.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
}
@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } 
}


